body {
	background-color: white;
}

.chart rect {
  fill: lightblue;
}

.chart text {
  font: 10px sans-serif;
  fill: black;
}

#chart_container {
	width: 100%;
  float: left;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

 #bartitle {
	font-size: 3em;
  	text-align: center;
	padding: 3px;
	margin: 1px;
	color: black;
}
